@keyframes danger {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}
@keyframes charge {
  to {
    background-color: #a6e3a1;
    color: #313244;
  }
}
@keyframes rainbow-bg {
  0% {
    background-color: rgb(255, 0, 0);
  }
  8% {
    background-color: rgb(255, 127, 0);
  }
  16% {
    background-color: rgb(255, 255, 0);
  }
  25% {
    background-color: rgb(127, 255, 0);
  }
  33% {
    background-color: rgb(0, 255, 0);
  }
  41% {
    background-color: rgb(0, 255, 127);
  }
  50% {
    background-color: rgb(0, 255, 255);
  }
  58% {
    background-color: rgb(0, 127, 255);
  }
  66% {
    background-color: rgb(0, 0, 255);
  }
  75% {
    background-color: rgb(127, 0, 255);
  }
  83% {
    background-color: rgb(255, 0, 255);
  }
  91% {
    background-color: rgb(255, 0, 127);
  }
}
@keyframes rainbow {
  0% {
    color: rgb(255, 0, 0);
  }
  8% {
    color: rgb(255, 127, 0);
  }
  16% {
    color: rgb(255, 255, 0);
  }
  25% {
    color: rgb(127, 255, 0);
  }
  33% {
    color: rgb(0, 255, 0);
  }
  41% {
    color: rgb(0, 255, 127);
  }
  50% {
    color: rgb(0, 255, 255);
  }
  58% {
    color: rgb(0, 127, 255);
  }
  66% {
    color: rgb(0, 0, 255);
  }
  75% {
    color: rgb(127, 0, 255);
  }
  83% {
    color: rgb(255, 0, 255);
  }
  91% {
    color: rgb(255, 0, 127);
  }
}
* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: "BigBlueTermPlus Nerd Font", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #cdd6f4;
}

.base-waybar-button, #clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#custom-pacman-status,
#custom-gpu-status,
#custom-docker-status,
#power-profiles-daemon,
#mpd, #workspaces button {
  padding: 0 10px;
  color: #cdd6f4;
  border-radius: 10px;
  margin-right: 0;
  background-color: #313244;
  border: 1px solid #181825;
}

window#waybar {
  background-color: transparent;
  margin: 2px;
  /* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
  color: #cdd6f4;
  transition-property: background-color;
  transition-duration: 0.5s;
}
window#waybar.hidden {
  opacity: 0.2;
}

#workspaces button {
  background-color: #45475a;
  margin-right: 5px;
}
#workspaces button:last-child {
  margin-right: 0;
}
#workspaces button:hover {
  background: #45475a;
}
#workspaces button.active {
  background: #11111b;
  border: 1px solid #45475a;
  animation-name: rainbow-bg;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
}
#workspaces button.active label {
  background: transparent;
  color: #cdd6f4;
}
#workspaces button.urgent {
  background-color: #f38ba8;
}

#mode {
  background-color: #64727d;
  box-shadow: inset 0 -3px #ffffff;
}

#window,
#workspaces {
  margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

#clock {
  color: #eba0ac;
}

#battery {
  color: #94e2d5;
}
#battery #battery.charging,
#battery #battery.plugged {
  color: #a6e3a1;
  background-color: #11111b;
}
#battery.charging {
  animation-name: charge;
  animation-duration: 2s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#battery.critical:not(.charging) {
  background-color: #f38ba8;
  color: #ffffff;
  animation-name: danger;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#custom-pacman-status.no-updates {
  color: #f9e2af;
}
#custom-pacman-status.updates-available {
  color: #f38ba8;
}

#custom-gpu-status {
  color: #fab387;
}

#power-profiles-daemon {
  padding-right: 15px;
}
#power-profiles-daemon.performance {
  color: #f38ba8;
}
#power-profiles-daemon.balanced {
  color: #f9e2af;
}
#power-profiles-daemon.power-saver {
  color: #a6e3a1;
}

label:focus {
  background-color: #000000;
}

#cpu {
  color: #89dceb;
}

#memory {
  color: #eba0ac;
}

#network {
  color: #cba6f7;
}
#network.disconnected {
  background-color: #f38ba8;
  color: #313244;
}

#pulseaudio {
  color: #f2cdcd;
}
#pulseaudio.muted {
  color: #a6adc8;
}

#custom-media {
  background-color: #66cc99;
  color: #2a5c45;
  min-width: 100px;
}
#custom-media.custom-spotify {
  background-color: #66cc99;
}
#custom-media.custom-vlc {
  background-color: #ffa000;
}

#temperature {
  color: #f9e2af;
}
#temperature.critical {
  background-color: #f38ba8;
  color: #313244;
}

#tray {
  background-color: #2980b9;
}
#tray > .passive {
  -gtk-icon-effect: dim;
}
#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#idle_inhibitor {
  background-color: #2d3436;
}
#idle_inhibitor.activated {
  background-color: #ecf0f1;
  color: #2d3436;
}

#mpd {
  color: #b4befe;
}
#mpd.disconnected {
  background-color: #f53c3c;
}
#mpd.stopped {
  background-color: #90b1b1;
}
#mpd.paused {
  background-color: #51a37a;
}

#language {
  background: #00b093;
  color: #740864;
  padding: 0 5px;
  margin: 0 5px;
  min-width: 16px;
}

#scratchpad {
  background: rgba(0, 0, 0, 0.2);
}
#scratchpad .empty {
  background-color: transparent;
}

#privacy {
  padding: 0;
}

#privacy-item {
  padding: 0 5px;
  color: white;
}
#privacy-item.screenshare {
  background-color: #cf5700;
}
#privacy-item.audio-in {
  background-color: #1ca000;
}
#privacy-item.audio-out {
  background-color: #0069d4;
}

/*# sourceMappingURL=style.css.map */
