* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 10px;
  color: #cdd6f4;
}

window#waybar {
  background-color: transparent;
  border-bottom: 3px solid rgba(100, 114, 125, 0.5);
  color: #cdd6f4;
  transition-property: background-color;
  transition-duration: 0.5s;
}
window#waybar.hidden {
  opacity: 0.2;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}
button:hover {
  /* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
  background: inherit;
  box-shadow: inset 0 -1px #74c7ec;
}

#workspaces button {
  padding: 0 10px;
  background-color: transparent;
  color: #89b4fa;
}
#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
}
#workspaces button.active {
  color: #a6e3a1;
  box-shadow: inset 0 -1px #a6e3a1;
}
#workspaces button.urgent {
  background-color: #f38ba8;
}

#mode {
  background-color: #64727d;
  box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
  padding: 5px 10px;
  color: #cdd6f4;
  border-radius: 10px;
  margin: 10px 5px;
  margin-right: 0;
  background-color: #313244;
  border: 1px solid #181825;
}

#window,
#workspaces {
  margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

#clock {
  color: #eba0ac;
}

#battery {
  color: #94e2d5;
}

#battery.charging,
#battery.plugged {
  color: #a6e3a1;
  background-color: #11111b;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}
/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#power-profiles-daemon {
  padding-right: 15px;
}
#power-profiles-daemon.performance {
  color: #f38ba8;
}
#power-profiles-daemon.balanced {
  color: #f9e2af;
}
#power-profiles-daemon.power-saver {
  color: #a6e3a1;
}

label:focus {
  background-color: #000000;
}

#cpu {
  color: #89dceb;
}

#memory {
  color: #eba0ac;
}

#network {
  color: #cba6f7;
}
#network.disconnected {
  background-color: #f38ba8;
  color: #313244;
}

#pulseaudio {
  color: #f2cdcd;
}
#pulseaudio.muted {
  color: #a6adc8;
}

#custom-media {
  background-color: #66cc99;
  color: #2a5c45;
  min-width: 100px;
}
#custom-media.custom-spotify {
  background-color: #66cc99;
}
#custom-media.custom-vlc {
  background-color: #ffa000;
}

#temperature {
  color: #f9e2af;
}
#temperature.critical {
  background-color: #f38ba8;
  color: #313244;
}

#tray {
  background-color: #2980b9;
}
#tray > .passive {
  -gtk-icon-effect: dim;
}
#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#idle_inhibitor {
  background-color: #2d3436;
}
#idle_inhibitor.activated {
  background-color: #ecf0f1;
  color: #2d3436;
}

#mpd {
  color: #b4befe;
}
#mpd.disconnected {
  background-color: #f53c3c;
}
#mpd.stopped {
  background-color: #90b1b1;
}
#mpd.paused {
  background-color: #51a37a;
}

#language {
  background: #00b093;
  color: #740864;
  padding: 0 5px;
  margin: 0 5px;
  min-width: 16px;
}

#scratchpad {
  background: rgba(0, 0, 0, 0.2);
}
#scratchpad .empty {
  background-color: transparent;
}

#privacy {
  padding: 0;
}

#privacy-item {
  padding: 0 5px;
  color: white;
}
#privacy-item.screenshare {
  background-color: #cf5700;
}
#privacy-item.audio-in {
  background-color: #1ca000;
}
#privacy-item.audio-out {
  background-color: #0069d4;
}

/*# sourceMappingURL=style.css.map */
