$rosewater: #f5e0dc;
$flamingo: #f2cdcd;
$pink: #f5c2e7;
$mauve: #cba6f7;
$red: #f38ba8;
$maroon: #eba0ac;
$peach: #fab387;
$yellow: #f9e2af;
$green: #a6e3a1;
$teal: #94e2d5;
$sky: #89dceb;
$sapphire: #74c7ec;
$blue: #89b4fa;
$lavender: #b4befe;
$text: #cdd6f4;
$subtext1: #bac2de;
$subtext0: #a6adc8;
$overlay2: #9399b2;
$overlay1: #7f849c;
$overlay0: #6c7086;
$surface2: #585b70;
$surface1: #45475a;
$surface0: #313244;
$base: #1e1e2e;
$mantle: #181825;
$crust: #11111b;

@keyframes rainbow-bg {
  0% {
    background-color: rgb(255, 0, 0);
  }
  8% {
    background-color: rgb(255, 127, 0);
  }
  16% {
    background-color: rgb(255, 255, 0);
  }
  25% {
    background-color: rgb(127, 255, 0);
  }
  33% {
    background-color: rgb(0, 255, 0);
  }
  41% {
    background-color: rgb(0, 255, 127);
  }
  50% {
    background-color: rgb(0, 255, 255);
  }
  58% {
    background-color: rgb(0, 127, 255);
  }
  66% {
    background-color: rgb(0, 0, 255);
  }
  75% {
    background-color: rgb(127, 0, 255);
  }
  83% {
    background-color: rgb(255, 0, 255);
  }
  91% {
    background-color: rgb(255, 0, 127);
  }
}

@keyframes rainbow {
  0% {
    color: rgb(255, 0, 0);
  }
  8% {
    color: rgb(255, 127, 0);
  }
  16% {
    color: rgb(255, 255, 0);
  }
  25% {
    color: rgb(127, 255, 0);
  }
  33% {
    color: rgb(0, 255, 0);
  }
  41% {
    color: rgb(0, 255, 127);
  }
  50% {
    color: rgb(0, 255, 255);
  }
  58% {
    color: rgb(0, 127, 255);
  }
  66% {
    color: rgb(0, 0, 255);
  }
  75% {
    color: rgb(127, 0, 255);
  }
  83% {
    color: rgb(255, 0, 255);
  }
  91% {
    color: rgb(255, 0, 127);
  }
}

* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family:
    "BigBlueTermPlus Nerd Font", FontAwesome, Roboto, Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  color: $text;
}

.base-waybar-button {
  padding: 0 10px;
  color: $text;
  border-radius: 10px;
  margin-right: 0;
  background-color: $surface0;
  border: 1px solid $mantle;
}

window#waybar {
  background-color: transparent;
  margin: 2px;
  /* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
  color: $text;
  transition-property: background-color;
  transition-duration: 0.5s;
  &.hidden {
    opacity: 0.2;
  }
}

#workspaces button {
  @extend .base-waybar-button;
  background-color: $surface1;
  margin-right: 5px;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    background: $surface1;
  }

  &.active {
    background: $crust;
    border: 1px solid $surface1;
    animation-name: rainbow-bg;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    label {
      background: transparent;
      color: $text;
    }
  }

  &.urgent {
    background-color: $red;
  }
}

#mode {
  background-color: #64727d;
  box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#custom-pacman-status,
#custom-docker-status,
#power-profiles-daemon,
#mpd {
  @extend .base-waybar-button;
}

#window,
#workspaces {
  margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

#clock {
  color: $maroon;
}

#battery {
  color: $teal;
}

#battery.charging,
#battery.plugged {
  color: $green;
  background-color: $crust;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

#custom-pacman-status {
  &.no-updates {
    color: $yellow;
  }
  &.updates-available {
    color: $red;
  }
}
/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#power-profiles-daemon {
  padding-right: 15px;

  &.performance {
    color: $red;
  }

  &.balanced {
    color: $yellow;
  }

  &.power-saver {
    color: $green;
  }
}

label:focus {
  background-color: #000000;
}

#cpu {
  color: $sky;
}

#memory {
  color: $maroon;
}

#network {
  color: $mauve;
  &.disconnected {
    background-color: $red;
    color: $surface0;
  }
}

#pulseaudio {
  color: $flamingo;
  &.muted {
    color: $subtext0;
  }
}

#custom-media {
  background-color: #66cc99;
  color: #2a5c45;
  min-width: 100px;

  &.custom-spotify {
    background-color: #66cc99;
  }

  &.custom-vlc {
    background-color: #ffa000;
  }
}

#temperature {
  color: $yellow;

  &.critical {
    background-color: $red;
    color: $surface0;
  }
}

#tray {
  background-color: #2980b9;

  > .passive {
    -gtk-icon-effect: dim;
  }

  > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
  }
}

#idle_inhibitor {
  background-color: #2d3436;

  &.activated {
    background-color: #ecf0f1;
    color: #2d3436;
  }
}

#mpd {
  color: $lavender;

  &.disconnected {
    background-color: #f53c3c;
  }

  &.stopped {
    background-color: #90b1b1;
  }

  &.paused {
    background-color: #51a37a;
  }
}

#language {
  background: #00b093;
  color: #740864;
  padding: 0 5px;
  margin: 0 5px;
  min-width: 16px;
}

#scratchpad {
  background: rgba(0, 0, 0, 0.2);

  .empty {
    background-color: transparent;
  }
}

#privacy {
  padding: 0;
}

#privacy-item {
  padding: 0 5px;
  color: white;

  &.screenshare {
    background-color: #cf5700;
  }

  &.audio-in {
    background-color: #1ca000;
  }
  &.audio-out {
    background-color: #0069d4;
  }
}
