tmux/plugins
go/telemetry/*
sqlitebrowser/sqlitebrowser.conf
QtProject.conf
spotify
ibus/*
session/*
dolphinrc
trashrc
dbus/*
evolution/sources/*
pulse/cookie
dconf/*
nvm
pulse/*
yay-bin
chromium

**/*/style.css.map
