tmux/plugins
go/telemetry/*
sqlitebrowser/sqlitebrowser.conf
QtProject.conf
spotify
ibus/*
session/*
dolphinrc
trashrc
dbus/*
evolution/sources/*
pulse/cookie
dconf/*
nvm
pulse/*
google-chrome
menus/applications-merged/*
yay-bin
chromium
**/*/style.css.map
