services:
  searxng:
    image: searxng/searxng:latest
    container_name: searxng
    restart: always
    volumes:
      - ./searxng-data:/etc/searxng:rw
    environment:
      - BASE_URL=https://searx.docker.localhost
      - BIND_ADDRESS=0.0.0.0:8080
    networks:
      - traefik
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.searxng.rule=Host(`searx.docker.localhost`)"
      - "traefik.http.routers.searxng.entrypoints=websecure"
      - "traefik.http.routers.searxng.tls=true"

networks:
  traefik:
    external: true
